@page "/"
@inject LoginApp.Data.PubnubApplicationState appState;

<h1>Welcome to Chat App!.</h1>
<h2>This is developed with ASP.NET Core Blazor using C# </h2>

<p><a href="/registeruser">User Registration</a></p>
<p><a href="/loginuser">Login</a></p>


